@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.board {
  border: solid 3px black;
  height: 312px;
  width: 312px;
  text-align: center;
  margin: 0 auto;
  display: inline-flex;
  flex-wrap: wrap;
}

.box {
  border: solid 2px black;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
}
.title {
  font-family: "Permanent Marker", cursive;
  color: #ffa500;
}
