@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Patrick+Hand&display=swap");

.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.box {
  border: solid 2px black;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
}
.box h1 {
  font-family: "Permanent Marker", cursive;
}
.title {
  font-family: "Permanent Marker", cursive;
  color: #ff8800;
}
